.hero {
  & h1 {
    font-size: 3.85rem;
    font-weight: 900;
    line-height: 1.05;
    letter-spacing: -0.05em;

    & div {
    display: inline-block;
    background: linear-gradient(to right, hsla(344, 84%, 50%, 1), cubic-bezier(0,.5,0.5,.9), hsla(344, 84%, 60%, 1));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    }

  }

  & h4 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.035em;
    color: var(--color-muted);
    margin-top: 0.875rem;
  }

}
